@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: white;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-title {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 40px;
}
h3{
    color: hsl(0, 0%, 95%);
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'Big Shoulders Display', cursive;
}
.container {
    display: flex;
    align-items: center;
    width: 900px;
    justify-content: center;
}

.card {
    width: 33.333333333%;
    height: 500px;
    padding: 36px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

body > div.container > div:nth-child(1) {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

body > div.container > div:nth-child(2) {
    background-color: hsl(184, 100%, 22%);
}

body > div.container > div:nth-child(3) {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

}

button {
    margin-top: 40px;
    padding: 16px;
    border-radius: 28px;
    border: none;
    margin-left: 10px;
    width: 10.5vw;
    font-size: 16px;
    font-weight: 400;
}
body > div.container > div:nth-child(1) button {
    color: hsl(31, 77%, 52%);
    
}

body > div.container > div:nth-child(2) button {
    color: hsl(184, 100%, 22%);
}

body > div.container > div:nth-child(3) button {
    color:hsl(179, 100%, 13%);
}


.para {
    color: hsla(0, 0%, 100%, 0.75);
    font-weight: 400;
}